
@{
    ViewData["Title"] = "Index";
}



<html lang="en" class="full-height">




<head>

    <link rel="stylesheet" type="text/css" href="~/css/HomeStyle.css">

    <title>Home Page</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>

<body>


    <nav class="navbar fixed-top  navbar-expand-lg navbar-dark scrolling-navbar">
        <a class="navbar-brand" href="#"><strong>GeoHub</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Profile</a>
                </li>

             </ul>

        </div>


        <a href="#" class="btn btn-primary btn-lg disabled" role="button" aria-disabled="true" data-target="#navbarSupportedContent">რეგისტრაცია</a>
        <a href="#" class="btn btn-secondary btn-lg disabled" role="button" aria-disabled="true" data-target="#navbarSupportedContent">შესვლა</a>





    </nav>




    <div class="view intro-2" style="">
        <div class="full-bg-img">
            <div class="mask rgba-purple-light flex-center">
                <div class="container text-center white-text wow fadeInUp">

                </div>
            </div>
        </div>
    </div>



    <!--Main Layout-->
    <main>





    </main>

    

</body>

</html>

